<h1 class="title">Статьи</h1>


<%=render @articles%>


   <!--<ul class="article_list">-->
  <!--<%@articles.each do |article|%>-->
      <!--<li class="article_list">-->
        <!--<%=link_to article.title, article_path(article)%>-->
      <!--</li>-->
  <!--<%end%>-->
<!--</ul>-->


